@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1568635751207'); /* IE9 */
  src: url('iconfont.eot?t=1568635751207#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKAAAsAAAAABjgAAAI2AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAo8VwE2AiQDCAsGAAQgBYRtBzcbhAURBSzJfiZkclfsSrrVfuN0ZZMhSjwTD/+/37d97rtjKnEQayZJvbKIn0gyT5RGYkpFo2fyqwPmrek63BsVobok51vLtp1J169LwzqP0yiFkAhJ6ZT6PJfTm0AH0vpAOe5FawzqBdSLAynQPfAosiKJvGHsghf4nEC9YYtif3nwpFqZvS4Qd+brF9UWgrLMMrVCdcPRLB6rUpsepngUfT/+WY9akqqCXXP02oErdv/k5BSVsuJMQAgR0OkqFFhEJk42Jg8rBOMK9clsnGNVBj+VZeAQR7UK9tfZ5Y1gEMqeSe6tFSDBY83UivZJPInWu5XnnfUvX4YHr3oaXrzQvlJ9f19/9Fl9Ifodu0G5nTqL3UEg+PBxaeF8y9b/2oYMPn9/HfjL7WyYm9r1XcF/kA8cyobStqesyRvHk9b9d9SrRwl72/2Yauo6aTbU6prgrjGUoVBrkszsIqo02ES1Wuwu1FtQnW7QgcUi12HeGyC0+iBp9gmFVl8ysz9U6fZHtdaIUe90dFzZYDpmtY+xFRyge8HcO0uuU1RcecTxplvOKyPBFXmbI5AnWTlToUVeYsd2HwsRAmJnoASvodYOPLsFe0kmEb9LU2p6U9I7Eyj7MNQSaAA6L2DWcywKJgtV+fwRGt1oLe4YqEtfIbaZ5we5RDaArHR20MCj8NncjQpCEECYY4ASLEKa5gDfvGiBeiIxTYh7O6kziobqku0N5u9OQT3bnMLJKzTdQ36LxlbXerYYBA==') format('woff2'),
  url('iconfont.woff?t=1568635751207') format('woff'),
  url('iconfont.ttf?t=1568635751207') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1568635751207#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vertical_line:before {
  content: "\e63a";
}

